.month, .year, .calIcons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.79);
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 4px;
  padding-left: 4px;
}

.calendarHeader {
  clear: both;
  width: auto;
  height: auto;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  border-bottom: 2px solid;
}

.calTitle {
  float: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.79);
  display: inline-block;
  vertical-align:middle;
  margin: 5px;
  padding: 5px;
}

.calRightNavigation {
  float: right;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  position: relative;
  vertical-align:middle;
}

.week {
  clear: both;
  display: block;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
  vertical-align:middle;
}

.currentDate {
  background: blue;
}

.datesWeek {
  width: auto;
  height: auto;
  clear: both;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
  vertical-align:middle;
}

.blank, .dates, .weekDays {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.79);
  float: middle;
  height: 70px;
  line-height: 70px;
  width: 12.5%;
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}

.inline {
  display: inline;
}

.calendar {
  height: auto;
  width: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 30px;
  background: -webkit-linear-gradient(left top, red , blue); 
  background: -o-linear-gradient(bottom right, red, blue); 
  background: -moz-linear-gradient(bottom right, red, blue);
  background: linear-gradient(to bottom right, red , blue); 
}

@media (max-width: 480px) {

  .calRightNavigation {
    float: left;
  }

  .week {
    display: block;
  }

}
